.hero {
    background: url('../../assets/images/khalifa_stadium10.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    color: white;
}

.hero div {
    padding: 20px;
}

.container-left {
    width: 40%;
    text-align: left;
}

.container-right {
    width: 40%;
}
